*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

.pktw-fixed {
  position: fixed
}

.pktw-inset-0 {
  inset: 0px
}

.pktw-left-\[50\%\] {
  left: 50%
}

.pktw-top-\[50\%\] {
  top: 50%
}

.pktw-z-50 {
  z-index: 50
}

.pktw-flex {
  display: flex
}

.pktw-inline-flex {
  display: inline-flex
}

.pktw-grid {
  display: grid
}

.\!pktw-h-3 {
  height: 0.75rem !important
}

.pktw-h-10 {
  height: 2.5rem
}

.pktw-h-11 {
  height: 2.75rem
}

.pktw-h-9 {
  height: 2.25rem
}

.pktw-h-3 {
  height: 0.75rem
}

.\!pktw-h-2 {
  height: 0.5rem !important
}

.pktw-h-4 {
  height: 1rem
}

.pktw-h-5 {
  height: 1.25rem
}

.\!pktw-w-3 {
  width: 0.75rem !important
}

.pktw-w-10 {
  width: 2.5rem
}

.pktw-w-full {
  width: 100%
}

.pktw-w-3 {
  width: 0.75rem
}

.\!pktw-w-2 {
  width: 0.5rem !important
}

.pktw-w-4 {
  width: 1rem
}

.pktw-w-5 {
  width: 1.25rem
}

.pktw-max-w-lg {
  max-width: 32rem
}

.pktw-translate-x-\[-50\%\] {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.pktw-translate-y-\[-50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.pktw-cursor-pointer {
  cursor: pointer
}

.pktw-flex-col {
  flex-direction: column
}

.pktw-flex-col-reverse {
  flex-direction: column-reverse
}

.pktw-items-center {
  align-items: center
}

.pktw-justify-center {
  justify-content: center
}

.pktw-gap-4 {
  gap: 1rem
}

.pktw-space-y-1\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.375rem * var(--tw-space-y-reverse))
}

.pktw-whitespace-nowrap {
  white-space: nowrap
}

.pktw-rounded-md {
  border-radius: calc(var(--radius) - 2px)
}

.pktw-border {
  border-width: 1px
}

.pktw-border-input {
  border-color: var(--background-modifier-border)
}

.pktw-bg-background {
  background-color: var(--background-primary)
}

.pktw-bg-black\/80 {
  background-color: rgb(0 0 0 / 0.8)
}

.pktw-bg-destructive {
  background-color: var(--text-error)
}

.pktw-bg-primary {
  background-color: var(--interactive-accent)
}

.pktw-bg-secondary {
  background-color: var(--background-secondary)
}

.\!pktw-p-0 {
  padding: 0px !important
}

.pktw-p-6 {
  padding: 1.5rem
}

.pktw-p-0 {
  padding: 0px
}

.pktw-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.pktw-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.pktw-px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.pktw-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.pktw-text-center {
  text-align: center
}

.pktw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.pktw-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.pktw-font-medium {
  font-weight: 500
}

.pktw-font-semibold {
  font-weight: 600
}

.pktw-leading-none {
  line-height: 1
}

.pktw-tracking-tight {
  letter-spacing: -0.025em
}

.pktw-text-destructive-foreground {
  color: var(--text-on-accent)
}

.pktw-text-muted-foreground {
  color: var(--text-muted)
}

.pktw-text-primary {
  color: var(--interactive-accent)
}

.pktw-text-primary-foreground {
  color: var(--text-on-accent)
}

.pktw-text-secondary-foreground {
  color: var(--text-normal)
}

.pktw-underline-offset-4 {
  text-underline-offset: 4px
}

.pktw-shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.pktw-ring-offset-background {
  --tw-ring-offset-color: var(--background-primary)
}

.pktw-transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.pktw-duration-200 {
  transition-duration: 200ms
}

.file\:pktw-border-0::file-selector-button {
  border-width: 0px
}

.file\:pktw-bg-transparent::file-selector-button {
  background-color: transparent
}

.file\:pktw-text-sm::file-selector-button {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.file\:pktw-font-medium::file-selector-button {
  font-weight: 500
}

.placeholder\:pktw-text-muted-foreground::-moz-placeholder {
  color: var(--text-muted)
}

.placeholder\:pktw-text-muted-foreground::placeholder {
  color: var(--text-muted)
}

.hover\:pktw-bg-accent:hover {
  background-color: var(--interactive-accent)
}

.hover\:pktw-text-accent-foreground:hover {
  color: var(--text-on-accent)
}

.hover\:pktw-underline:hover {
  text-decoration-line: underline
}

.focus-visible\:pktw-outline-none:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.focus-visible\:pktw-ring-2:focus-visible {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus-visible\:pktw-ring-ring:focus-visible {
  --tw-ring-color: var(--interactive-accent)
}

.focus-visible\:pktw-ring-offset-2:focus-visible {
  --tw-ring-offset-width: 2px
}

.disabled\:pktw-pointer-events-none:disabled {
  pointer-events: none
}

.disabled\:pktw-cursor-not-allowed:disabled {
  cursor: not-allowed
}

.disabled\:pktw-opacity-50:disabled {
  opacity: 0.5
}

@media (min-width: 640px) {
  .sm\:pktw-flex-row {
    flex-direction: row
  }

  .sm\:pktw-justify-end {
    justify-content: flex-end
  }

  .sm\:pktw-space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
  }

  .sm\:pktw-rounded-lg {
    border-radius: var(--radius)
  }

  .sm\:pktw-text-left {
    text-align: left
  }
}

